@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;400;600;700&display=swap');
@import './_vars.pcss';
@import './_transitions.pcss';

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Josefin Sans', sans-serif;
  @apply transition-colors duration-200 ease-in-out;
}